# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Firebase
GoogleService-Info.plist
google-services.json

# local env files
.env
.env*.local

# macOS
.DS_Store
*.pem

# Metro
.metro-health-check*

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# typescript
*.tsbuildinfo
