/* ./client/styles/css/profile.css */
.profile-wrapper {
  margin-top: 60px;
  padding: 20px;
  display: block;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

.contents-container {
  max-width: 1000px;
  width: 100%;
  /* Center the container */
  /* margin: 0 auto; */
  text-align: left;
  gap: 0px;
  display: block;
  padding: 0px;
}

.profilePicture-section {
  display: flex;
  flex-wrap: wrap;
  gap: 5px 10px;
}

.profile-image {
  width: 100px;
  height: 100px;
  border-radius: 60px;
}

.name-email-container {
  align-content: center;
}
.name {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 4px;
}

.email-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.email {
  margin-top: 0px;
  font-size: 16px;
  color: gray;
  margin-bottom: 0px;
  max-width: 100%;
}

.info-text {
  margin-top: 0px;
  font-size: 16px;
  margin-bottom: 0px;
}

.verified {
  color: green;
}

.unverified {
  color: red;
}

.info-section-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  margin-top: 20px;
  gap: 20px;
}

.info-title {
  font-size: 18px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 5px;
  width: fit-content;
}

.info-section ul {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 600px) {
  .contents-container {
    padding: 10px;
  }

  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50px;
  }

  .info-text span.verified,
  .info-text span.unverified {
    display: inline-block;
    position: relative;
    top: 0px;
  }

  .name {
    font-size: 20px;
  }

  .email {
    font-size: 14px;
  }

  .info-title {
    font-size: 16px;
  }

  .info-text {
    font-size: 14px;
  }
}

@media (max-width: 250px) {
  .profile-wrapper {
    padding: 10px;
  }

  .email-container {
    margin-bottom: 10px;
  }

  .info-section-container {
    margin-top: 10px;
  }

  .info-section {
    margin-top: 6px;
  }

  .info-title {
    font-size: 16px;
    width: min-content;
  }
}
