/* ./styles/css/root-layout-web.css */
/* .container-navbar-slot {
  position: relative;
  width: 100%;
  transition: transform 0.3s ease-in-out;
}
.container-navbar-slot.drawer-open {
  transform: translateX(250px);
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  cursor: alias;
}
